<!DOCTYPE html>
<html lang="en">
<head>
	<title> {{ title }}
	</title>
</head>
<body>
	<h1>Bienvenue cher apprentie</h1>
	<h2>Choisie parmis ces métiers dans lequelle tu veux tester tes connaissances ! </h2>
	<h1></h1>
	<h1>Bonne chance !! </h1>
	
	<h2> voici la liste des metiers possibles : </h2>
	
	<a> dentiste	|	chirurgien	|	cardiologue </a>
	<p>  </p>

	<form action="/qcm" method="POST">
		<input name="nom" value=""/>
		<button type="submit"> Validé </button>
	</form>

</body>
</html>